[submodule "software/ext/velib"]
	path = software/ext/velib
	url = git@github.com:victronenergy/velib.git
[submodule "software/ext/veutil"]
	path = software/ext/veutil
	url = git@github.com:victronenergy/veutil.git
